* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
  /*hw02*/
}

a {
  text-decoration: none;
  color: currentColor;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

button {
  cursor: pointer;
  /*hw04*/
}

address {
  font-style: normal;
}

img {
  display: block;
  /*hw03*/
  max-width: 100%;
  height: auto;
  margin: 0 auto;
}

.container {
  margin: 0 auto;
  /*hw03*/
  width: 320px;
  padding-right: 16px;
  padding-left: 16px;
  /*hw06*/
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  /*hw02*/
}

.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
  /*hw02*/
  margin-bottom: 70px;
}

.subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  /*hw02*/
  margin-bottom: 8px;
  /*hw03*/
}

.body-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  /*hw02*/
  font-weight: 400;
  /*hw06*/
}

.link {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  /*hw02*/
  padding: 24px 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
  /*hw03*/
}

/*=============Header========*/
.header {
  border-bottom: 1px solid #e7e9fc;
  /*hw03*/
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
  /*hw04*/
}

.header-flex {
  display: flex;
  /*hw03*/
  padding: 16px 15px;

  /*padding-top: 24px;
  padding-bottom: 24px;*/
}

.header-nav {
  display: flex;
  align-items: center;
  /*gap: 76px;*/
  flex-grow: 1;
}

.header-nav .logo {
  margin-right: 120px;
  /*padding-top: 8px;
  padding-bottom: 16px;*/
}

.header span {
  color: #2e2f42;
  /*hw02*/
}

.header-nav-list {
  /*display: flex;*/
  display: none;
  gap: 40px;
  /*hw03*/
}

.header-nav-item {
  /*padding: 24px 0;*/
  /*hw03*/

}

.header-nav .link {
  font-weight: 500;
  color: #2e2f42;
  /*hw02*/
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-nav .link:hover,
.header-nav .link:focus,
.header-nav .link:active {
  color: #404bbf;
  /*hw02*/
}

.header-nav-item:nth-child(1) .link {
  position: relative;
  color: #404bbf;
}

.header-nav .active::after {
  content: "";
  width: 100%;
  position: absolute;
  left: 0;
  bottom: -8px;
  height: 4px;
  background-color: #404bbf;
  border-radius: 2px;
}

.header-address {
  font-style: normal;
  margin-right: auto;
  /*hw02*/
}

.header-address-list {
  /*display: flex;*/
  display: none;
  gap: 40px;
  /*hw03*/
}

/*.header-address-item {
  padding: 24px 0;
}*/

.header-address .link {
  color: #434455;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  /*hw02*/
}

.header-address .link:hover,
.header-address .link:focus {
  color: #404bbf;
  /*hw02*/
}

.menu-open-btn {
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  background-color: white;
  border: none;
}

.mob-menu {
  position: absolute;
  top: 0;
  background-color: #fff;
  width: 320px;
  height: 100%;
  padding: 24px 24px 40px 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -59%);
}

.mob-menu-btn-close {
  display: block;
  margin-left: auto;
  margin-bottom: 24px;
  border-radius: 50%;
  background-color: #e7e9fc;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-menu-btn-close:hover,
.mob-menu-btn-close:focus {
  background-color: #404bbf;
  border: none;
  fill: #ffffff
}

.btn-close-svg {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-menu-nav-list {
  margin-bottom: 50px;
}

.mob-menu-nav-item:not(:last-child) {
  margin-bottom: 40px;
}

.mob-menu-link {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.mob-menu .mob-menu-link {
  color: #2e2f42;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-menu .mob-menu-link:hover,
.mob-menu .mob-menu-link:focus,
.mob-menu .mob-menu-link:active {
  color: #404bbf;
}

.mob-menu-address {}

.mob-menu-address-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-bottom: 48px;
}

.mob-menu-address-item {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.mob-menu-address .mob-menu-address-link {
  color: #434455;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  /*hw02*/
}

.mob-menu-address .mob-menu-address-link:hover,
.mob-menu-address .mob-menu-address-link:focus {
  color: #404bbf;
  /*hw02*/
}

.mob-menu-list {
  display: flex;
  gap: 40px;
}

.mob-menu-item {
  width: 40px;
  height: 40px;
}

.mob-menu-icons-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-menu-item-icon {
  fill: white;
}

.mob-menu-icons-link:hover,
.mob-menu-icons-link:focus {
  background-color: #31d0aa;
}

.mob-menu-nav-item:nth-child(1) .mob-menu-link,
.mob-menu-address-item:nth-child(1) .mob-menu-address-link {
  color: #404bbf;
}

/*===========================*/

/*===========Hero============*/
/*=======First section=======*/
.hero {
  background-color: #2e2f42;
  /*hw02*/
  /*padding: 188px 0;*/
  /*hw03*/
  max-width: 1440px;
  margin: 0 auto;
  background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero-bg-320.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  /*hw04*/
  padding: 72px 52px;
  /*padding-top: 72px;
  padding-bottom: 72px;
  padding-left: 52px;
  padding-right: 52px;*/
}

@media screen and (-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero-bg-320@2x.jpg);
  }
}

.hero .container {
  padding-right: 0;
  padding-left: 0;
  width: 100%;
}

.hero-title {
  display: block;
  margin: 0 auto 72px;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
  /*hw02*/
  /*padding-bottom: 48px; ?*/
  font-size: 36px;
  line-height: 1.11;
  max-width: 216px;
  /*margin-bottom: 72px;*/
}

.hero-btn {
  display: block;
  margin: 0 auto;
  padding: 16px 32px;
  border-radius: 4px;
  border: none;
  /*hw03*/
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  background-color: #4d5ae5;
  /*hw02*/
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: #404bbf;
  /*hw02*/
}

/*===========================*/

/*===========Feature=========*/
/*=======Second section======*/
.feature {
  padding-top: 96px;
  padding-bottom: 96px;
  /*hw06*/
}

.feature-list {
  display: flex;
  /*hw03*/
  flex-wrap: wrap;
  gap: 72px;
  /*hw06*/
}

.feature-item {
  width: 100%;
  /*hw06*/
}

.feature-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 112px;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  background-color: #f4f4fd;
  margin-bottom: 8px;
  /*hw04*/
  display: none;
  /*hw06*/
}

.feature .subtitle {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  /*hw06*/
}

/*===========================*/

/*==============Team=========*/
/*========Third section======*/
.team {
  background-color: #f4f4fd;
  /*hw02*/
  padding-top: 96px;
  padding-bottom: 96px;
  /*hw06*/
}

.team .container {
  padding-left: 28px;
  padding-right: 28px;
  /*hw06*/
}

.team .title {
  margin-bottom: 72px;
  /*hw06*/
}

.team .body-text {
  margin-bottom: 8px;
}

.team-list {
  display: flex;
  /*hw03*/
  flex-wrap: wrap;
  gap: 72px;
  /*hw06*/
}

.team-item {
  background-color: #ffffff;
  /*hw02*/
  border-radius: 0 0 4px 4px;
  /*hw03*/
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);

  /*width: 100%;*/
  width: 264px;
  height: 428px;
  text-align: center;
  /*hw06*/
}

.people {
  padding: 32px 16px;
  /*hw03*/
}

.people-list {
  display: flex;
  gap: 24px;
  justify-content: center;
  /*hw04*/
}

.people-item {
  width: 40px;
  height: 40px;
}

.people-icons-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.people-icons-link:hover,
.people-icons-link:focus {
  background-color: #404bbf;
}

.people-item-icon {
  fill: #f4f4fd;
}



/*===========================*/

/*=========Portfolio=========*/
/*======Fourth section=======*/
.portfolio {
  /*padding-top: 120px;
  padding-bottom: 120px;*/
  /*hw03*/
  padding-top: 96px;
  padding-bottom: 96px;
  /*hw06*/
}

.portfolio .title {
  margin-bottom: 72px;
}

.portfolio-list {
  display: flex;
  /*hw03*/
  flex-wrap: wrap;
  gap: 48px;
  /*hw06*/
}

.portfolio-items {
  width: 100%;
  /*width: calc((100% - 2 * 24px) / 3); for desktop*/
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  /*hw03*/
}

.portfolio-img-wrap {
  position: relative;
  overflow: hidden;
}

/*.portfolio-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
}*/

.portfolio-items:hover,
.portfolio-items:focus {
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  /*hw04*/
  cursor: pointer;

}

.portfolio-items:hover .portfolio-hover-text {
  transform: translateY(0%);
}

.portfolio-hover-text {
  position: absolute;
  top: 0;
  font-style: 16px;
  padding: 40px 32px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  background-color: #4d5ae5;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-descr {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
  /*hw03-06*/
}

/*===========================*/

/*============Footer=========*/
.footer {
  background-color: #2e2f42;
  padding: 96px 16px;
  text-align: center;
}

.footer-flex {
  display: flex;
  align-items: baseline;
  flex-wrap: wrap;
  /*gap: 72px 0;*/
  gap: 16px 0;
  flex-direction: column;
}

.logo-text {
  width: 264px;
  margin: 0 auto;
}

.footer .logo {
  display: inline-block;
}

.footer a {
  margin-bottom: 16px;
}

.footer span {
  color: #f4f4fd;
}

.footer-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  max-width: 288px;
  text-align: start;
}

.footer-icons {
  fill: #f4f4fd;
  margin: 56px auto;
}

.footer-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
}

.footer-list {
  display: flex;
  gap: 16px;
}

.footer-item {
  width: 40px;
  height: 40px;
}

.footer-icons-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-icons-link:hover,
.footer-icons-link:focus {
  background-color: #31d0aa;
}

.footer-subscribe {
  margin: 0 auto;
}

.footer-form {
  display: flex;
  flex-wrap: wrap;
  gap: 16px 0;
  flex-direction: column;
}

/*.footer-label-email {
  margin: 0 auto;
}*/

.footer-input-email {
  border: 1px solid #fff;
  border-radius: 4px;
  width: 288px;
  height: 40px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background-color: transparent;
  padding: 8px 16px;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  opacity: 0.6;
  color: #ffffff;
}

.footer-input-email::placeholder {
  font-size: 12px;
  letter-spacing: 0.04em;
  color: #fff;
}

.footer-btn {
  margin: 0 auto;
}

.footer-btn-submit {
  border-radius: 4px;
  padding: 8px 24px;
  border: none;
  background: #4d5ae5;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  display: flex;
  gap: 16px;
  color: #fff;
  margin: 0 auto;
}

.footer-btn-submit-icon {
  fill: #fff;
}

/*===========================*/

/*============Modal=========*/

.backdrop {
  position: fixed;
  top: 0;
  background-color: rgba(46, 47, 66, 0.4);
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);

  /*box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);*/
  /*display: flex; можливий варіант
  align-items: center;
  justify-content: center;*/
}

.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 288px;
  height: 623px;
  border-radius: 4px;
  background-color: #fcfcfc;
  padding: 72px 16px 24px 16px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-modal-close {
  position: absolute;
  right: 24px;
  top: 24px;
  border-radius: 50%;
  background-color: #e7e9fc;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-modal-close:hover,
.btn-modal-close:focus {
  background-color: #404bbf;
  border: none;
  fill: #ffffff
}

.btn-modal-close-svg {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.modal-title {
  text-align: center;
  color: #2e2f42;
  font-weight: 500;
  margin-bottom: 16px;
}

.modal-form {}

.modal-field {
  margin-bottom: 8px;
}

.form-label {
  font-size: 12px;
  letter-spacing: 0.04em;
  line-height: 1.17;
  color: #8e8f99;
  display: block;
  margin-bottom: 4px;
}

.form-input-wrap {
  position: relative;
}

.form-input {
  width: 100%;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  height: 40px;
  background-color: transparent;
  padding: 11px 11px 11px 38px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:nth-last-child() {
  margin-bottom: 0;
}

.form-input:active,
.form-input:focus {
  border-color: #4d5ae5;

}

.form-input:focus+.modal-input-svg {
  fill: #4d5ae5;
}

.modal-input-svg {
  position: absolute;
  fill: #2e2f42;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-field-comment {
  margin-bottom: 16px;
}

.form-textarea {
  resize: none;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  height: 120px;
  padding: 8px 16px;

  width: 100%;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  margin-top: 4px;
  margin-bottom: 8px;
  outline: transparent;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.modal-field-checkbox {
  margin-bottom: 24px;
}

.check-input {}

.check-label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.modal-field-checkbox-span {
  position: relative;
  width: 16px;
  height: 16px;
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  margin-right: 8px;
  align-items: center;
  justify-content: center;
  fill: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-flex;
}

.check-link {
  line-height: 1.33;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #4d5ae5;
}

.check-input:active+.check-label span,
.check-input:focus+.check-label span {
  border-color: #4d5ae5;

}

.check-input:checked+.check-label span {
  background-color: #404bbf;
  border-color: #404bbf;
  fill: #f4f4fd;
  border: none;
}

.btn-send {
  display: block;
  border-radius: 4px;
  padding: 16px 32px;
  min-width: 169px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: #4d5ae5;
  margin: 24px auto 0;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/*===========================*/

/*============Media=========*/

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }

  .header-flex {
    padding: 16px;
  }

  .header-address .link {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
  }

  .mob-menu,
  .menu-open-btn {
    display: none;
  }

  .header-nav-list {
    display: flex;
  }

  /*.header-flex {
    padding: 24px 16px;
  }*/

  /*.header-nav {
    gap: 120px;
  }*/

  .header-address-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
    /*margin-top: 16px;
    margin-bottom: 16px;*/
  }

  .hero {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero-bg-768.jpg);
    padding: 112px 136px;
  }

  @media screen and (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero-bg-768@2x.jpg);
    }
  }

  .hero-title {
    font-size: 56px;
    line-height: 1.07;
    max-width: 496px;
    margin-bottom: 36px;
  }


  .feature .subtitle {
    text-align: start;
  }

  .feature-list {
    gap: 72px 24px;
  }

  .feature-item {
    width: calc((100% - 24px) / 2);
  }


  .team .container {
    padding-left: 108px;
    padding-right: 108px;
  }

  .team-list {
    gap: 64px 24px;
    /*hw06*/
  }

  .team-item {
    width: calc((100% - 24px) / 2);
  }

  .portfolio-list {
    gap: 72px 24px;
  }

  .portfolio-items {
    width: calc((100% - 1 * 24px) / 2);
  }

  .footer {
    padding-left: 108px;
    padding-right: 164px;
    text-align: start;
    margin: 0 auto;
  }

  .footer-text {
    width: 264px;
  }

  .footer-flex {
    gap: 72px 24px;
    flex-direction: row;
    max-width: 768px;
    margin: 0 auto;
  }

  .logo-text {
    margin: 0 0 0 auto;
  }

  .footer-form {
    gap: 24px;
    flex-direction: row;
  }

  .footer-input-email {
    width: 264px;
  }

  .footer-icons {
    margin: 0 auto 0 0;
  }

  .footer-subscribe {
    width: 264px;
    margin: 0 0 0 auto;
  }

  .footer-btn {
    position: relative;
    width: 208px;
    margin: 0 auto 0 0;
  }

  .footer-btn-submit {
    position: absolute;
    margin: 21px 0 0 0;
  }

  .modal {
    width: 408px;
    height: 584px;
    padding: 24px;
    padding-top: 72px;
  }

}

@media screen and (min-width: 1158px) {
  .container {
    width: 1158px;
    /*padding-right: 15px;
    padding-left: 15px;*/
    padding: 24px 15px;
  }

  .header-nav .active::after {
    bottom: -3px;
  }

  .header-address-list {
    flex-direction: row;
    gap: 40px;
  }

  .header-nav .logo {
    margin-right: 76px;
  }

  .hero {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero-bg.jpg);
    padding: 188px 0;
  }

  @media screen and (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero-bg@2x.jpg);
    }
  }

  .hero-title {
    margin-bottom: 48px;
  }


  .feature,
  .team {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .feature-list {
    gap: 0 24px;
  }

  .feature-item {
    width: calc((100% - 3 * 24px) / 4);
  }

  .feature-icons {
    display: flex;
  }

  .feature .subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    text-align: inherit;
    /*hw06*/
  }


  .team .container {
    padding-left: 15px;
    padding-right: 15px;
    /*hw06*/
  }

  .team-list {
    gap: 0 24px;
    /*hw06*/
  }

  .team-item {
    width: calc((100% - 3 * 24px) / 4);
  }


  .portfolio-list {
    gap: 24px;
    row-gap: 72px;
  }

  .portfolio-items {
    width: calc((100% - 2 * 24px) / 3);
  }


  .footer {
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
  }

  .footer-flex {
    gap: 0 80px;
    flex-wrap: nowrap;
    max-width: 1158px;
    margin: 0 auto;
  }

  .footer-icons {
    margin-left: 40px;
  }

  .footer-form {
    flex-wrap: nowrap;
  }


  .footer-btn-submit {
    margin: 21px 0 0 -56px;
  }

  /*.footer-subscribe {
    margin-right: 3px;
  }*/
}


/*===========================*/